
*{
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}


body{
margin:0;
min-height:100vh;
background:#120022;
color:white;
display:flex;
justify-content:center;
align-items:center;
overflow-x:hidden;
}


.background{
position:absolute;
width:100%;
height:100%;
background:
radial-gradient(circle at top,#5434a8,#120022 55%);
z-index:-1;
}


.container{
width:90%;
max-width:850px;
text-align:center;
}


.logo{
font-size:70px;
color:#ffd700;
}


h1{
color:#ffd700;
letter-spacing:3px;
}


h2{
color:white;
}


p{
color:#ddd;
}


.card{
background:rgba(255,255,255,0.08);
padding:30px;
border-radius:20px;
backdrop-filter:blur(10px);
margin-top:30px;
}


textarea{
width:100%;
height:130px;
padding:20px;
border-radius:15px;
border:none;
font-size:16px;
resize:none;
}


button{
margin-top:20px;
background:#ffd700;
border:none;
padding:15px 45px;
border-radius:30px;
font-weight:bold;
cursor:pointer;
}


.result{
margin-top:30px;
padding:25px;
border-radius:20px;
}


.positive{
background:#155d32;
}


.negative{
background:#6b1d2c;
}


.info{
display:flex;
gap:20px;
justify-content:center;
margin-top:30px;
}


.info div{
background:rgba(255,255,255,.1);
padding:15px;
border-radius:15px;
width:30%;
}


@media(max-width:600px){
.info{
flex-direction:column;
}

.info div{
width:100%;
}
}
