
<!DOCTYPE html>
<html>
<head>
<title>Magic Chess Go Go AI Analyzer</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="background"></div>

<div class="container">

<div class="logo">
♟
</div>

<h1>MAGIC CHESS GO GO</h1>
<h2>AI SENTIMENT ANALYZER</h2>

<p>
Analisis komentar pemain Play Store menggunakan
Machine Learning Support Vector Machine
</p>


<div class="card">

<form method="POST">

<textarea name="komentar"
placeholder="Masukkan komentar pemain Magic Chess Go Go..."
required></textarea>

<button>
ANALYZE COMMENT
</button>

</form>

</div>


{% if result %}

<div class="result {{result.class}}">

<h1>{{result.icon}}</h1>

<h2>
{{result.label}}
</h2>

<p>
{{result.desc}}
</p>

</div>

{% endif %}


<div class="info">

<div>
<h3>Model</h3>
<p>SVM</p>
</div>

<div>
<h3>Feature</h3>
<p>TF-IDF</p>
</div>

<div>
<h3>Dataset</h3>
<p>Play Store Review</p>
</div>

</div>


</div>

</body>
</html>
